.manager/*
.scala_dependencies
.cache
.settings
.classpath
project/boot
project/project
project/target
project/build/target/
project/plugins/target
project/plugins/lib_managed
project/plugins/project
project/plugins/src_managed
lib_managed/*
target/*
out/*
